# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.coverage*
.mypy_cache/
.pylint.d/

# Environments
.venv/
venv/
.env
.env.*
.python-version

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build / Dist
build/
dist/
*.egg-info/

# Logs & DB
uvicorn.log
*.db

# Node (NiceGUI tooling caches)
node_modules/
